<md-input-container class="">
    <input type="text" ng-model="fName" placeholder="FIRST NAME">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="lName" placeholder="LAST NAME">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="address" placeholder="HOME ADDRESS">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="city" placeholder="CITY">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="state" placeholder="STATE">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="zip" placeholder="ZIP">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="phone" placeholder="PHONE">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="email" placeholder="EMAIL">
</md-input-container>
<md-input-container class="">
    <input type="text" ng-model="pw" placeholder="SET PASSWORD">
</md-input-container>
<md-button ng-click="registerSubmit()">
    sign up
</md-button>