<div class="phone-select-container" layout="column" layout-align="center center">
    <div class="state-select-container">
        <div class="state-text">Select your cell phone <span style="font-weight:bold;">brand</span>:</div>
        <div class="state-button-container" layout="row" layout-align="space-around center">
            <md-button class="state-button" ng-repeat="(brand, data) in phoneBrands" ng-click="selectBrand(brand)"> 
                <svg class="state-image" role="img" title="iphone">
                    <use xlink:href="{{data.imageUrl}}" />
                </svg>
            </md-button>
        </div>
    </div>
    <div ng-if="phoneData.brandSelected.length > 0" class="state-select-container">
        <div class="state-text">Select your <span style="font-weight:bold;">{{phoneData.brandSelected}}</span> series:</div>
        <div class="series-button-container" layout="column" layout-align="space-around start">
            <md-button class="series-button" ng-repeat="series in phoneBrands[phoneData.brandSelected].series" ng-click="selectSeries(series)">
                <div class="series-button-text">
                    {{series}}
                </div>
            </md-button>
        </div>
    </div>
    <div ng-if="phoneData.seriesSelected.length > 0" class="state-select-container">
        <div class="state-text">Select your <span style="font-weight:bold;">{{phoneData.brandSelected}} {{phoneData.seriesSelected}}</span> carrier:</div>
        <div class="state-button-container" layout="row" layout-align="space-around center">
            <md-button class="state-button" ng-repeat="carrier in carriers" ng-click="selectCarrier(carrier[0])">
                <svg class="state-image" role="img" title="iphone">
                    <use xlink:href="{{carrier[1]}}" />
                </svg>
            </md-button>
        </div>
    </div>
    <div ng-if="isCarrierSelected" class="state-select-container">
        
        <div class="state-text">Select your <span style="font-weight:bold;">{{phoneData.brandSelected}} {{phoneData.seriesSelected}} {{phoneData.carrierSelected}}</span> phone features:</div>
        <div style="display:flex">
            <img src="/Content/Global/Img/iphone7-front-svr.jpg" style="height: 15vw; display:inline; margin: .2vw 3vw" />
            <div class="feature-item-container">
                <div class="feature-item">
                    <div style="position:inherit">Color:</div>
                    <div ng-repeat="color in colors" ng-click="selectColor(color)" style="position: absolute; left: {{($index * 8) + 8}}vw; cursor: pointer;">
                        {{color}}
                    </div>
                </div>
                <hr>
                <div class="feature-item">
                    <div style="position:inherit">GB:</div>
                    <div ng-repeat="GB in GBs" ng-click="selectGB(GB)" style="position: absolute; left: {{($index * 8) + 8}}vw; cursor: pointer;">
                         {{GB}}
                    </div>
                </div>
                <hr>
                <div>
                    <div class="feature-item">
                        <div style="position:inherit">Condition:</div>
                        <div ng-repeat="condition in conditions" ng-click="selectCondition(condition)" style="position: absolute; left: {{($index * 8) + 8}}vw; cursor: pointer;">
                            {{condition}}
                        </div>
                    </div>
                </div>

                <div ng-if="phoneData.conditionSelected.length > 0" class="condition-details">
                    Your phone is in <span style="font-weight:bold;">{{phoneData.conditionSelected}}</span> condition if it has:
                    <ul>
                        <li>blah blah</li>
                        <li>bleeeh blah</li>
                    </ul>
                </div>
            </div>

            
        </div>
    </div>
    <div ng-if="isColorSelected && isGBSelected && isConditionSelected" class="state-select-container" style="border-bottom: none;">
        <div class="state-text" style="padding-bottom: .5vw">YOUR PHONE DETAILS</div>
        <div class="state-button-container" layout="row" layout-align="space-between center" style="padding: 0 2.5vw">
            <div>
                product: &nbsp; {{phoneData.brandSelected}} {{phoneData.seriesSelected}}, {{phoneData.colorSelected}} ({{phoneData.carrierSelected}}) {{phoneData.GBSelected}} GB
                <br />condition: {{phoneData.conditionSelected}}
            </div>
            <md-button ng-click="submit()">
                Proceed to offer
            </md-button>
        </div>
    </div>
    

</div>
