

body {
    
}

/*ul {
    list-style: none;
}

li {
    display: inline;
}*/

.phone-select-container {
    background-color: #fafafa;
    margin: 0px 16vw;
}
    
.state-select-container {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    padding-bottom: 2vw;
}

.state-text {
    padding: 1.5vw 2.5vw;
    font-family: defaultLightFont;
    font-size: 17px;
}

/*.state-button-container {
    margin-bottom: 2vw;
}*/

.state-image{
    position: relative;
    height: 1.8vw;
    width: 7vw;
    top: 5px;
}

.series-button-container{
    /*margin-bottom: 2vw;*/
    display: inline-block;
}

.series-button {
    line-height: 20px;
    min-height: 20px;
    margin: .2vw .6vw;
    display:inline-block;
}

.series-button-text {
    padding: .1vw 2vw;
    font-family: defaultLightFont;
    font-size: 17px;
    text-transform:none;
}

.feature-item-container{
    margin-top: 1vw;
    /* left: 0vw; */
    position: relative;
    width: 100%;
}

.feature-item {
    display: flex;
    /*padding: .5vw 0;*/
    position: relative;
}

hr {
    margin: .8vw 0;
}

.condition-details {
    padding-top: 2vw;
}

.selected-time-slot {
    color: #64be8a !important; 
}

@media (max-width: 768px) {


    .phone-select-container{
        margin: 0
    }

    .body-content {
        padding-left: 0;
        padding-right: 0;
        padding: 0;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-brand{
        padding: 2px;
    }

    .state-button-container{
        display:flex;
    }

    .state-button {
        min-width: 50px;
        line-height: 20px;
        min-height: 20px;
        margin: 0;
    }

    .state-image {
        top: -2px;
    }
}