

body {
     margin: 0 0 100px;
}

/*ul {
    list-style: none;
}

li {
    display: inline;
}*/

.phone-select-container {
    background-color: #fafafa;
    margin: 0px 17vw 2.5vw;
}
    
.state-select-container {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    padding-bottom: 2vw;
}

.state-button-container{
        display:flex;
}

.state-button { width:20%  }
.state-button .img-or-text { width: 75%; display:inline; }

.state-text {
    padding: 2vw 2.5vw;
    font-family: defaultLightFont;
    font-size: 17px;
}

/*.state-button-container {
    margin-bottom: 2vw;
}*/

.state-image{
    position: relative;
    height: 1.8vw;
    width: 7vw;
    top: 5px;
}

.series-button-container{
    /*margin-bottom: 2vw;*/
    /*display: flex;*/
    padding: 0 1.7vw;
        display: inline-block;
        overflow: hidden;
    width: 100%;
}

.series-btn-div{ width:25%; float: left; }

.feature-item-btn.series-btn {
    line-height: 20px;
    min-height: 20px;
    margin: .4vw .3vw;
    display:inline-block;
    font-family: defaultLightFont; 
    font-size:1.2em;
}

.series-button-text {
    padding: .1vw .3vw;
    font-family: defaultLightFont;
    font-size: 17px;
    text-transform:none;
        float: left;
}

.feature-item-container{
    margin-top: 1vw;
    /* left: 0vw; */
    position: relative;
    width: 100%;
}

.feature-item-row {
    display: inline-block;
    width: 100%;
     vertical-align: middle;
}

.feature-item-option {
    display: inline-block;
    width:20%; 
    float: left;
    /*padding: .5vw 0;*/
    position: relative;
}

.feature-item-option.feature-name { width: 16.66%; }
.feature-item-option.feature-option-container { width:83.33%; }

.feature-item-btn { cursor:pointer; color:black; font-family: defaultBoldFont; }
.selected-item a {  color:var(--green) !important; font-family: defaultBoldFont !important; /*cursor:pointer; font-family: defaultBoldFont;*/}
.feature-item-btn:hover { text-decoration: none; color:var(--green); }
.feature-item-option.feature-name { color: #a3aeb9;}


hr {
    margin: .8vw 0;
    /*border-top: 1px solid #cccccc;*/
}

.condition-details {
    padding-top: 2vw;
}

.get-offer-btn { min-height:20px; height: 5.5vh; font-size: 2vh; line-height: 4vh; /*position:absolute; bottom:0;*/ text-align:center; /*width: 42%; height: 30%; float: right;*/ padding: 0px 20px; color: #fff; font-family: 'Camphor'; font-weight: 600; background: #50d691; display: inline-block; border-radius: 20px; border: 0;transition: all ease-in-out .5s; border: 2px solid #50d691;}
.get-offer-btn:hover { color: #50d691; background: #fff;} 

.selected-time-slot {
    /*color: #64be8a !important;*/ 
    color: #fff !important; background: #50d691; 
}



@media (max-width: 768px) {


    .phone-select-container{
        margin: 0
    }

    .body-content {
        padding-left: 0;
        padding-right: 0;
        padding: 0;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .logo .navbar-brand{
        padding: 2px;
    }

    .state-button-container{
        display:block;
    }

    .series-btn-div{ width:50%; float: left; }

    .state-button {
        width:33%;
        min-width: 50px;
        line-height: 20px;
        min-height: 20px;
        margin: 0;
    }

    .state-image {
        top: -2px;
    }

    .feature-item-option.feature-name { width: 33%; }

    .feature-item-option {
        display: block;
        width:50%; 
        float: left;
        /*padding: .5vw 0;*/
        position: relative;
    }

    .feature-item-option.feature-option-container { width:66%; }

}