@font-face {
    font-family: defaultBoldFont;
    src: url("/fonts/Camphor Bold.ttf");
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}



.home-top {
    width: 100%;
    background: #50d691;
    position: relative;
    display: inline-block;
}

.home-nav-container{
    padding-top: 1.6em;
}

.home-nav-button {
    font-size: .7em;
    color: white;
}

.zip-select-container {
    padding: 2.6em;
    color: white;
    font-size: 2.5em;
}

.pickup-text {
    font-family: defaultBoldFont;
    padding-bottom: .7em;
}

.zip-input {
    font-size: .4em;
    width: 153px;
    margin: 14px 0;}

.zip-submit {
    background: #50d691;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 0px;
    color: white;
}

.circle-container {
    display: table;
    margin: auto;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: white;
}

.img-container {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 100%;
}

.img-centered {
    display: block;
    margin: auto;
}

